.card-mod {
    width: 350px;
    position: relative;
    /* height: 500px; */
    border-radius: 30px;
    box-shadow: 10px 10px 9px #c5c5c5,
                -10px -10px 9px #ffffff;
    transition: box-shadow 0.7s ease;
    padding: 25px;
    margin: 30px;
   }

.lesson-num {
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: x-small;
    width: 25%;
    padding: 5px;
    border-radius: 50px;
    background-color: #E3F2FD;
    font-weight: bold;
}



.card-mod  p {
    background-color: #E3F2FD;
    border-radius: 30px;
    padding: 15px;
}

.duration{
    font-size: small;
}