.card-container {
  border-radius: 30px;
  background: #fff;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
  padding: 10px;
  width: 300px;
  margin: 30px;
}
.card-container img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .parent-skills-container {
    display: flex;
    justify-content: center;
  }