.mod4 .text-content p,
.mod4 .text-content li {
  font-size: small;
  font-weight: 200;
  padding: 0px 15px 0 15px;
}

.mod4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.mod4 .text-content h1 {
  font-size: larger;
  background: linear-gradient(135deg, #8cdedc 0%, #e7bbe3 100%);
  padding: 15px;
  border-radius: 10px;
}

.mod4 .text-content h2 {
  font-size: large;
  /* font-style: oblique; */
  font-weight: 800;
  background: linear-gradient(135deg, #8cdedc 0%, #e7bbe3 100%);
  padding: 15px;
  border-radius: 10px;
}

.mod4 .text-content h3 {
  font-size: medium;
  /* font-style: oblique; */
  font-weight: 800;
  background: linear-gradient(135deg, #8cdedc 0%, #e7bbe3 100%);
  padding: 15px;
  border-radius: 10px;
}

.text-image {
  display: flex;
  justify-content: center;
}

.text-image img {
  border-radius: 10px;
}

.text-video {
  display: flex;
  justify-content: center;
  height: 50%;
}
