.mod5 .text-content p,
.mod5 .text-content li {
  font-size: small;
  font-weight: 200;
  padding: 0px 15px 0 15px;
}

.mod5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.mod5 .text-content h1 {
  font-size: larger;
  background-color: #8cdedc;
  padding: 15px;
  border-radius: 10px;
}

.mod5 .text-content h2 {
  font-size: large;
  /* font-style: oblique; */
  font-weight: 800;
  background-color: #e4bfe4;
  padding: 15px;
  border-radius: 10px;
}

.mod5 .text-content h3 {
  font-size: medium;
  /* font-style: oblique; */
  font-weight: 800;
  background-color: #f4e4f4;
  padding: 15px;
  border-radius: 10px;
}

.text-image {
  display: flex;
  justify-content: center;
}

.text-image img {
  border-radius: 10px;
}

/* .text-video {
  display: flex;
  justify-content: center;
  height: 50%;
} */

.dropdown {
  position: absolute;
  top: 120%;
  z-index: 10;
}

.dropdown a {
  background-color: #fff;
  box-shadow: 0 6px 12px 0 rgba(24, 94, 224, 0.15);
  width: 300px;
  padding: 10px;
  border: 3px solid #8d2ac7;
  font-size: larger;
  color: aqua;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.dropdown a {
  color: grey;
}

.dropdown a:hover {
  background-color: #8d2ac7;
  box-shadow: 0 6px 12px 0 rgba(24, 94, 224, 0.15);
  width: 300px;
  padding: 10px;
  border: 3px solid #8d2ac7;
  display: flex;
  color: #fff;
  justify-content: center;
  border-radius: 10px;
  transition: 0.5s;
}

.dropdown a:hover {
  color: #fff;
}
